<app-menu></app-menu>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div class="container">
      <div class="mt-3 mb-5">
        <h2>Bienvenido {{name}}</h2>
      </div>

      <hr>

      <h5>Información Basica</h5>
      <div class="row">
        <div class="col">
          <p>RUN: {{run}}</p>
        </div>
        <div class="col">
          <p>Nombres: {{fullNames}}</p>
        </div>
        <div class="col">
          <p>Apellidos: {{fullLastName}}</p>
        </div>
      </div>




      <hr>


      <div *ngIf="role == 'cliente' || role == 'vendedor';then index"></div>
      <ng-template #index>
        <h5>Simulaciones enviadas</h5>
        <div class="container simulations-height overflow-auto">
            <table class="table table-striped text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Monto solicitado</th>
                    <th scope="col">N° de cuotas</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let simulation of tableSimulations;let indexOfelement=index;">
                        <td>{{ indexOfelement + 1 }}</td>
                        <td>{{ simulation.requestedAmount }}</td>
                        <td>{{ simulation.feesAmount }}</td>
                        <td>{{ simulation.status }}</td>
                        <td>{{ simulation.createdDate }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="simulationDetails(simulation)">
                                Ver detalles
                              </button>
                        </td>
                    </tr>
                  
                </tbody>
              </table>
        </div>
            



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Detalles de simulación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Estado: {{modalSimulationDetails.status}}</p>
                  <p>Estado Civil: {{modalSimulationDetails.civilStatus}}</p>
                  <p>Trabajo: {{modalSimulationDetails.job}}</p>
                  <p>Tipo de contrato: {{modalSimulationDetails.jobContract}}</p>
                  <p>AFP: {{modalSimulationDetails.afp}}</p>
                  <p>Sueldo Base: {{modalSimulationDetails.salary}}</p>
                  <p>Honorarios: {{modalSimulationDetails.honorarium}}</p>
                  <p>Monto solicitado: {{modalSimulationDetails.requestedAmount}}</p>
                  <p>Cantidad de cuotas: {{modalSimulationDetails.feesAmount}}</p>
                  <p>Seguro desgravamen: {{modalSimulationDetails.lienInsurance}}</p>
                  <p>Seguro de cesantía: {{modalSimulationDetails.unemploymentInsurance}}</p>
                  <p>Tipo de pago: {{modalSimulationDetails.paymentType}}</p>
                  <p>Fecha de creación: {{modalSimulationDetails.createdDate}}</p>
                  <p>Fotocopia de cedula de identidad: {{modalSimulationDetails.dniFile}}</p>
                  <p>Liquidaciones: {{modalSimulationDetails.liquidationFile}}</p>
                  <p>Certificado de contrato: {{modalSimulationDetails.jobContractFile}}</p>
                  <p>Certificado de cotizaciones AFP: {{modalSimulationDetails.afpFile}}</p>
                  <p>Certificado de deuda SBIF: {{modalSimulationDetails.sbifFile}}</p>
                  <p>Boleta de luz o agua: {{modalSimulationDetails.electricityWaterTicketFile}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
      </ng-template>
    








    <div *ngIf="role == 'evaluador';then evaluadorIndex"></div>
    <ng-template #evaluadorIndex>
      <h5>Simulaciones pendientes</h5>
      <div class="container simulations-height overflow-auto">
          <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">RUN</th>
                  <th scope="col">Monto solicitado</th>
                  <th scope="col">N° de cuotas</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let simulation of tableSimulations;let indexOfelement=index;">
                      <td>{{ indexOfelement + 1 }}</td>
                      <td>{{ simulation.idPerson.run }}</td>
                      <td>{{ simulation.requestedAmount }}</td>
                      <td>{{ simulation.feesAmount }}</td>
                      <td>{{ simulation.status }}</td>
                      <td>{{ simulation.createdDate }}</td>
                      <td>
                          <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="simulationDetails(simulation)">
                              Evaluar
                            </button>
                      </td>
                  </tr>
                
              </tbody>
            </table>
      </div>
          



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evaluar simulación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>RUN: {{this.modalSimulationDetails.run}}</p>
                <p>Nombre Completo: {{modalSimulationDetails.fullName}}</p>
                <p>Estado: {{modalSimulationDetails.status}}</p>
                <p>Estado Civil: {{modalSimulationDetails.civilStatus}}</p>
                <p>Trabajo: {{modalSimulationDetails.job}}</p>
                <p>Tipo de contrato: {{modalSimulationDetails.jobContract}}</p>
                <p>AFP: {{modalSimulationDetails.afp}}</p>
                <p>Sueldo Base: {{modalSimulationDetails.salary}}</p>
                <p>Honorarios: {{modalSimulationDetails.honorarium}}</p>
                <p>Monto solicitado: {{modalSimulationDetails.requestedAmount}}</p>
                <p>Cantidad de cuotas: {{modalSimulationDetails.feesAmount}}</p>
                <p>Seguro desgravamen: {{modalSimulationDetails.lienInsurance}}</p>
                <p>Seguro de cesantía: {{modalSimulationDetails.unemploymentInsurance}}</p>
                <p>Tipo de pago: {{modalSimulationDetails.paymentType}}</p>
                <p>Fecha de creación: {{modalSimulationDetails.createdDate}}</p>
                <p>Fotocopia de cedula de identidad: {{modalSimulationDetails.dniFile}}</p>
                <p>Liquidaciones: {{modalSimulationDetails.liquidationFile}}</p>
                <p>Certificado de contrato: {{modalSimulationDetails.jobContractFile}}</p>
                <p>Certificado de cotizaciones AFP: {{modalSimulationDetails.afpFile}}</p>
                <p>Certificado de deuda SBIF: {{modalSimulationDetails.sbifFile}}</p>
                <p>Boleta de luz o agua: {{modalSimulationDetails.electricityWaterTicketFile}}</p>

                <div class="d-flex bd-highlight mb-3">
                  <div class="form-check col-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="modalSimulationDetails.debtPercentageEvaluador">
                    <label class="form-check-label" for="flexCheckDefault">
                      ¿Cumple con el porcentaje de deuda?
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  [(ngModel)]="modalSimulationDetails.observationsEvaluador"></textarea>
                </div>

                <div class="d-flex justify-content-center mt-5">

                    <button type="button" class="p-2 btn btn-danger me-5" data-bs-dismiss="modal" (click)="rejectedSimulation()">
                      <i class="fa fa-solid fa-xmark"></i> Rechazar
                    </button>
                    <button type="button" class="p-2 btn btn-success" data-bs-dismiss="modal" (click)="approvedSimulation()">
                      <i class="fa fa-solid fa-check"></i> Aprobar
                    </button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    </ng-template>














    <div *ngIf="role == 'riesgo';then riesgoIndex"></div>
    <ng-template #riesgoIndex>
      <h5>Simulaciones pendientes</h5>
      <div class="container simulations-height overflow-auto">
          <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">RUN</th>
                  <th scope="col">Monto solicitado</th>
                  <th scope="col">N° de cuotas</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let simulation of tableSimulations;let indexOfelement=index;">
                      <td>{{ indexOfelement + 1 }}</td>
                      <td>{{ simulation.idPerson.run }}</td>
                      <td>{{ simulation.requestedAmount }}</td>
                      <td>{{ simulation.feesAmount }}</td>
                      <td>{{ simulation.status }}</td>
                      <td>{{ simulation.createdDate }}</td>
                      <td>
                          <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="simulationDetails(simulation)">
                              Evaluar
                            </button>
                      </td>
                  </tr>
                
              </tbody>
            </table>
      </div>
          



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evaluar simulación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>RUN: {{this.modalSimulationDetails.run}}</p>
                <p>Nombre Completo: {{modalSimulationDetails.fullName}}</p>
                <p>Estado: {{modalSimulationDetails.status}}</p>
                <p>Estado Civil: {{modalSimulationDetails.civilStatus}}</p>
                <p>Trabajo: {{modalSimulationDetails.job}}</p>
                <p>Tipo de contrato: {{modalSimulationDetails.jobContract}}</p>
                <p>AFP: {{modalSimulationDetails.afp}}</p>
                <p>Sueldo Base: {{modalSimulationDetails.salary}}</p>
                <p>Honorarios: {{modalSimulationDetails.honorarium}}</p>
                <p>Monto solicitado: {{modalSimulationDetails.requestedAmount}}</p>
                <p>Cantidad de cuotas: {{modalSimulationDetails.feesAmount}}</p>
                <p>Seguro desgravamen: {{modalSimulationDetails.lienInsurance}}</p>
                <p>Seguro de cesantía: {{modalSimulationDetails.unemploymentInsurance}}</p>
                <p>Tipo de pago: {{modalSimulationDetails.paymentType}}</p>
                <p>Fecha de creación: {{modalSimulationDetails.createdDate}}</p>
                <p>Fotocopia de cedula de identidad: {{modalSimulationDetails.dniFile}}</p>
                <p>Liquidaciones: {{modalSimulationDetails.liquidationFile}}</p>
                <p>Certificado de contrato: {{modalSimulationDetails.jobContractFile}}</p>
                <p>Certificado de cotizaciones AFP: {{modalSimulationDetails.afpFile}}</p>
                <p>Certificado de deuda SBIF: {{modalSimulationDetails.sbifFile}}</p>
                <p>Boleta de luz o agua: {{modalSimulationDetails.electricityWaterTicketFile}}</p>
                <p>Evaluador ¿Cumple con el porcentaje de deuda?: {{modalSimulationDetails.debtPercentageEvaluador}}</p>
                <p>Observaciones Evaluador: {{modalSimulationDetails.observationsEvaluador}}</p>

                <div class="d-flex bd-highlight mb-3">
                  <div class="form-check col-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="modalSimulationDetails.debtPercentageRiesgo">
                    <label class="form-check-label" for="flexCheckDefault">
                      ¿Cumple con el porcentaje de deuda?
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  [(ngModel)]="modalSimulationDetails.observationsRiesgo"></textarea>
                </div>
                
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-7 col-form-label">Comportamiento crediticio</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="selectedAFP" [(ngModel)]="modalSimulationDetails.creditBehaviorRiesgo">
                      <option [ngValue]="option" *ngFor="let option of optionsGoodRegularBad" value="option">{{option.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-7 col-form-label">Historial bancario</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="selectedAFP" [(ngModel)]="modalSimulationDetails.bankingHistoryRiesgo">
                      <option [ngValue]="option" *ngFor="let option of optionsGoodRegularBad" value="option">{{option.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-5">

                    <button type="button" class="p-2 btn btn-danger me-5" data-bs-dismiss="modal" (click)="rejectedSimulation()">
                      <i class="fa fa-solid fa-xmark"></i> Rechazar
                    </button>
                    <button type="button" class="p-2 btn btn-success" data-bs-dismiss="modal" (click)="approvedSimulation()">
                      <i class="fa fa-solid fa-check"></i> Aprobar
                    </button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    </ng-template>


















    <div *ngIf="role == 'finanza';then finanzaIndex"></div>
    <ng-template #finanzaIndex>
      <h5>Simulaciones aprobadas</h5>
      <div class="container simulations-height overflow-auto">
          <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">RUN</th>
                  <th scope="col">Monto solicitado</th>
                  <th scope="col">N° de cuotas</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Tipo de pago</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let simulation of tableSimulations;let indexOfelement=index;">
                      <td>{{ indexOfelement + 1 }}</td>
                      <td>{{ simulation.idPerson.run }}</td>
                      <td>{{ simulation.requestedAmount }}</td>
                      <td>{{ simulation.feesAmount }}</td>
                      <td>{{ simulation.status }}</td>
                      <td>{{ simulation.paymentType }}</td>
                      <td>{{ simulation.createdDate }}</td>
                      <td>
                          <button type="button" class="btn btn-success btn-sm" (click)="generatePayment(simulation)">
                            Generar pago
                          </button>
                      </td>
                  </tr>
                
              </tbody>
            </table>
      </div>

    </ng-template>

  </div>
</main>
