  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Acreditación Financiera</a>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="text-decoration-none text-dark" [routerLink]="['/']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-home fa-lg"></i></div>
                  <div class="col ps-0">Pagina principal</div>
                </div>
              </a>
              
            </li>
            <div *ngIf="role == 'informatica';then informaticaMenu"></div>
            <ng-template #informaticaMenu>
              <li class="nav-item pt-3">
                <a class="text-decoration-none text-dark" [routerLink]="['/manage-users']">
                  <div class="row ps-3">
                    <div class="col-2 text-center"><i class="fa fa-solid fa-user-gear fa-lg"></i></div>
                    <div class="col ps-0">Gestionar usuarios</div>
                  </div>
                </a>
              </li>
            </ng-template>
            <div *ngIf="role == 'cliente' || role == 'vendedor';then cliente_vendedorMenu"></div>
            <ng-template #cliente_vendedorMenu>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" [routerLink]="['/simulation']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-magnifying-glass fa-lg"></i></div>
                  <div class="col ps-0">Simular</div>
                </div>
              </a>
            </li>
          </ng-template>
          <div *ngIf="role == 'cliente';then clienteMenu"></div>
          <ng-template #clienteMenu>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" [routerLink]="['/pay-dues']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-dollar fa-lg"></i></div>
                  <div class="col ps-0">Pagar cuotas</div>
                </div>
              </a>
            </li>
          </ng-template>
          <div *ngIf="role == 'vendedor';then vendedorMenu"></div>
          <ng-template #vendedorMenu>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" [routerLink]="['/register-client']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-user fa-lg"></i></div>
                  <div class="col ps-0">Registrar cliente</div>
                </div>
              </a>
            </li>
          </ng-template>
          <div *ngIf="role == 'evaluador' || role == 'riesgo';then evaluadorMenu"></div>
          <ng-template #evaluadorMenu>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" [routerLink]="['/simulations']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-magnifying-glass fa-lg"></i></div>
                  <div class="col ps-0">Simulaciones</div>
                </div>
              </a>
            </li>
          </ng-template>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" [routerLink]="['/configuration']">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-gear"></i></div>
                  <div class="col ps-0">Configuración</div>
                </div>
              </a>
            </li>
            <li class="nav-item pt-3">
              <a class="text-decoration-none text-dark" href="" *ngIf="isLogged" (click)="onLogOut()">
                <div class="row ps-3">
                  <div class="col-2 text-center"><i class="fa fa-solid fa-arrow-right"></i></div>
                  <div class="col ps-0">Cerrar Sesión</div>
                </div>
              </a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>